:root {
  --WHITE: #fff;
  --IRIS: #4d5ae5;
  --NAVY-BLUE: #2e2f42;
  --CLOUD: #f4f4fd;
  --CORNFLOWER: #e7e9fc;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

header,
main,
footer,
nav,
ul,
li,
h2,
a,
p {
  margin: 0;
}

/* Header Section - start */
/* Navigation Section - start */
.container {
  width: 1158px;
}

.header-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;

  .nav-container {
    display: flex;
  }

  .contact-menu {
    display: flex;

    .contact-menu-list {
      padding-left: 32px;
    }
  }

  .logo {
    padding-right: 40px;
  }

  .header-menu-list {
    padding-left: 32px;
  }
}

.logo {
  text-decoration: none;
  color: var(--NAVY-BLUE);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.logo span {
  color: var(--IRIS);
}

.header-menu-list {
  list-style: none;
}

.header-menu span {
  color: var(--IRIS);
}

.header-menu-link {
  text-decoration: none;
  color: var(--NAVY-BLUE);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  list-style-type: none;
}
/* Navigation Section - end */

/* Contacts Section - start*/
.contact-menu-list {
  list-style: none;
}

.contact-menu .contact-menu-link {
  text-decoration: none;
  color: var(--NAVY-BLUE);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
/* Contacts Section - end*/
/* Header Section - end */

/* Main Section - start */
/* Hero Section - start*/
.container .hero-section {
  display: flexbox;
}

.hero-section {
  background-color: var(--NAVY-BLUE);
  height: 600px;
  justify-content: center;
  align-items: center;

  & h1 {
    color: var(--WHITE);
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px; /* 107.143% */
    letter-spacing: 1.12px;
  }

  & button {
    /* Button Layout */
    display: inline-flex;
    padding: 16px 32px;
    gap: 10px;

    /* Button Style */
    border: 0px;
    border-radius: 4px;
    background: var(--IRIS);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--WHITE, #fff);

    /* Button Text */
    font-family: Roboto;
    font-size: 16px;

    /* font-style: normal; */
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.64px;
  }
}
/* Hero Section - end */

/* Section Article */
.section-article .article-unorder-list {
  display: flex;
}

.section-article li {
  list-style: none;
}

.section-article p {
  letter-spacing: 0.72px;
  text-wrap: pretty;
}

/* Section Gadget */
.section-gadget h2 {
  color: var(--NAVY-BLUE);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.section-gadget li {
  list-style: none;
}

.section-gadget .gadget-unorder-list {
  display: flex;
}

/* Section Team */
.section-team {
  background-color: var(--CLOUD);
}

.section-team h2 {
  color: var(--NAVY-BLUE);
  text-align: center;

  font-size: 36px;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.section-team .team-unorder-list {
  display: flex;
  text-align: center;
}

.section-team li {
  list-style: none;
}

/* Removing the <ul> default padding */
.header-menu,
.contact-menu,
.article-unorder-list,
.gadget-unorder-list,
.team-unorder-list {
  padding: 0;
}

/* Footer Section */
footer {
  background-color: var(--NAVY-BLUE);
}

footer .logo {
  color: var(--WHITE);
}

footer p {
  color: var(--WHITE);
}
/* Body block end */
